.logged-in{
    background-color:#7f8c8d;
    height: 20rem;
}
.c-h{
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;

}



.f-c{
    color: #0b0b0b !important;
    font-size: 1.3rem;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.card-header h3{
    background-color: #00b44e;
}
